@font-face {
  font-family: "Gidole-reg";
  src: url("assets/Gidole-Regular.ttf");
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  font-family: "Gidole-reg";
  font-size: 15px;
}

h1 {
  font-family: "Gidole-reg";
}

h2 {
  font-family: "Gidole-reg";
}

h3 {
  font-family: "Gidole-reg";
}

p {
  font-family: "Gidole-reg";
  text-align: center;
}


nav {
/*  background:rgba(255,255,255,0.5);*/
  margin: 0 auto;
  height: 12%;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -10%;
}

.navoptions {
  padding-top: 3%;
}

#video {
  margin-top: 5%;
  height: 100%;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  background-image: url(assets/img1.png);
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2%;
  text-align: center;
  text-transform: uppercase;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#video h1 {
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  font-family: impact;
  padding: 5%;
  margin: 0 auto;
}

.btn .btn-warning {
  padding: 0;
  border: none;
  background: none;
}

#bs-example-navbar-collapse-1 {
  background-color: #f8f8f8;
}

#locations p {
  font-weight: bold;
}

#samplephoto .col-md-4 {
  padding: 0;
  overflow: hidden;
}

.thumbnail {
  margin-left: auto;
  margin-right: auto;
}

#forminfo {
  font-family: "Gidole-reg";
  margin-bottom: 3%;
}

#title {
  margin-bottom: 5%;
}

.thumbnail ul {
  list-style: none;
}

.thumbnail ul li {
  font-size: 30px;
  font-size: 2%;
}

.thumbnail h1 {
  text-align: center;
}

.caption {
  text-align: center;
}

.caption h3 {
  color: #EF5F2B;
}

.caption label {
  width: 75%;
}

.imagethumbnail {
  margin-bottom: 5%;
}

.imagethumbnail img {
  display: block;
  margin: 0 auto;
}

#infobox h3 {
  text-align: center;
  font-weight: bold;
  font-family: impact;
}

#infotitle h1 {
  text-align: center;
}

.infosteps {
  color: rgb(239, 95, 43);
  font-family: impact;
  text-align: center;
}

#steps {
  height: 150%;
  width: 100%;
  background-color: rgba(239, 95, 43, 0.1);
  padding-top: 5%;
}

#steps h3 {
  font-family: impact;
}

#steps2 {
  height: 150%;
  width: 100%;
  background-color: rgba(239, 95, 43, 0.1);
}

#steps2 img {
  padding-top: 10%;
}

.step {
  color: rgb(239, 95, 43);
  font-family: impact;
  display: inline-block;
  text-align: center;
  margin: 0;
}

#phototitle h1 {
  font-family: impact;
  text-align: center;
  color:rgb(128, 128, 128);
}

#samplephoto {
  text-align: center;
  margin-bottom: 10%;
}

.caption {
  overflow: hidden;
}

#photoupload h3 {
  text-align: center;
}

.upload {
  background-color: gray;
}

#form {
  color: #EF5F2B;
  font-family: impact;
  font-size: 150%;
  overflow: hidden;
}

.col-xs-10 {
  margin: 0;
}

#tehbutton {
  width: 25%;
  margin: 0 auto;
  margin-bottom: 5%;
}

#submit {
  width: 100%;
  font-size: 120%;
  border-radius: 15px;
  margin-top: 10%;
  margin-bottom: 1%;
  font-family: impact;
}

label text {;
  border: 1px solid #EF5F2B;
}

#footer {
  width: 100%;
  background-color: #000000;
  clear: both;
  overflow: hidden;
  color: white;
  font-size: 150%;
  text-align: center;
  padding-bottom: 5%;
}

.footertext {
  font-size: 100%;
}

